<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <style>
    html, body { background: #222; }
  </style>
  <link rel="stylesheet" href="css/main.css">
  
  <script>window.DEBUG = false;</script>
  {{JS_FILES}}

</head>
<body>
</body>
</html> 


