@import "_variables/defaults.scss";

$BRAND_CODE: "CT";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #3eb4e5 53%,#0085dc 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #008db8, #006585 3%, #003e52);

