@import "_variables/defaults.scss";

$BRAND_CODE: "EE";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #ff9500 53%,#ff8400 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #ad0f88 53%,#c40088 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #bf249f, #951c7b 3%, #6a1458);
