
$BRAND_CODE: "EW";
$HEADLINE_FONT: "HelveticaNeue-CondensedBold";
$MAIN_FONT: "Helvetica Neue";
$ACCENT_COLOR: #db2817;
$PROGRESS_BAR_COLOR: #0cc;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #f81600 53%,#e50c00 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #FF0138, #CE002C 3%, #9B0021);
