@import "_variables/defaults.scss";

$BRAND_CODE: "HA";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #F03F03 53%,#E23524 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #cb006c, #980050 3%, #640035);

$BUTTON_SECONDARY_GRADIENT: linear-gradient(rgb(38,83,126), rgb(31,65,99));