@import "_variables/defaults.scss";

$BRAND_CODE: "IN";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #f81600 53%,#e50c00 100%);
$LUCIE_TOOLBAR_BG: /*-webkit-linear-gradient(top, #de5789, #d62d6b 3%, #ae2255)*/ #C8102E;

$BUTTON_SECONDARY_GRADIENT: linear-gradient(rgb(38,83,126), rgb(31,65,99))/*linear-gradient(rgb(53,126,209), rgb(36,82,151))*/;
