@import "_variables/defaults.scss";

$BRAND_CODE: "TZ";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #de1f16 53%,#b6191d 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #e92c23, #c61c14 3%, #97150f);

$BUTTON_SECONDARY_GRADIENT: linear-gradient(rgb(38,83,126), rgb(31,65,99));