@import "_variables/defaults.scss";

$HEADLINE_FONT: "TrebuchetMS";
$MAIN_FONT: "TrebuchetMS";
$BRAND_CODE: "PE";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(#0093ec, #0082d4);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #ff57b1, #fb2c99 3%, #f2007c);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #09BBFF, #009BD5 3%, #0076A3);
