@import "_variables/defaults.scss";

$BRAND_CODE: "PP";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #FC199F 53%,#D30F87 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #de5789, #d62d6b 3%, #ae2255);
