@import "_variables/defaults.scss";

$BRAND_CODE: "PP";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #232425 53%,#020202 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #FC199F 53%,#D30F87 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #eb2a00, #b72000 3%, #841700);

$BUTTON_SECONDARY_GRADIENT: linear-gradient(rgb(38,83,126), rgb(31,65,99));
