@import "_variables/defaults.scss";

$BRAND_CODE: "PW";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #ff9500 53%,#ff8400 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #fc006b 53%,#d2004c 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #fe0b84, #d5016a 3%, #a20151);
