@import "_variables/defaults.scss";

$BRAND_CODE: "SL";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(#4E5E65, #2D383F);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #09BBFF, #009BD5 3%, #0076A3);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #d03329, #a62921 3%, #7b1e18);

$BUTTON_SECONDARY_GRADIENT: linear-gradient(rgb(38,83,126), rgb(31,65,99))/*linear-gradient(rgb(53,126,209), rgb(36,82,151))*/;
