@import "_variables/defaults.scss";

$BRAND_CODE: "SM";
$HEADLINE_FONT: "HelveticaNeue-CondensedBold";
$MAIN_FONT: "Helvetica Neue";
$ACCENT_COLOR: #db2817;
$PROGRESS_BAR_COLOR: #0cc;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(top, #ff9500 53%,#ff8400 100%);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #00afbd 53%,#009caa 100%);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #339bc3, #297b9b 3%, #1e5b72);
