@import "_variables/defaults.scss";

$BRAND_CODE: "SU";
$ACCENT_COLOR: #db2817;

$MYACCOUNT_STD_BTN_BG: -webkit-linear-gradient(#4E5E65, #2D383F);
$MYACCOUNT_HIGHLIGHTED_BTN_BG: -webkit-linear-gradient(top, #09BBFF, #009BD5 3%, #0076A3);
$LUCIE_TOOLBAR_BG: -webkit-linear-gradient(top, #09BBFF, #009BD5 3%, #0076A3);

