@import "_variables/defaults.scss";

$BRAND_CODE: "WI";
$HEADLINE_FONT: "Avenir Next";
$MAIN_FONT: "Avenir Next";
$MAIN_BG_COLOR: #fcfcfc;
$MYACCOUNT_BG: "../images/WI/accountBG.jpg";

$AMEX_BANNER_BACKGROUND: #eee 0px/5px url("../images/diag-line-maker-bg.png") repeat;
$AMEX_BANNER_BTN_BG_COLOR: #dd0030;
$AMEX_BANNER_BTN_TXT_COLOR: #fff;