
$AMEX_BANNER_HEIGHT: 75px;
$AMEX_HERO_BASE_HEIGHT: 380px;

.store-hero-slideshow-view {
  position: relative;
  height: $AMEX_HERO_BASE_HEIGHT + $AMEX_BANNER_HEIGHT;

  &.subscriber {
    height: $AMEX_HERO_BASE_HEIGHT;
    .banner-static {
      display: none;
    }
  }

  
  .carousel {
    overflow: hidden;
  }
  .slides{
    height: 100%;              
    -webkit-transition: all 1s;
  }
  .slide{
    height: 100%;
    float: left;
    position: relative;
  
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .banner {
    position: absolute;
    width: 100%;
    height: 380px;
  }
  .on-the-right {
    margin-left: 0px;
  }
  .clear { clear: both; }

  .banner-static {
    background: $AMEX_BANNER_BACKGROUND;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $AMEX_BANNER_HEIGHT;
  }

  .float-left {
    float: left;
    margin-left: 20px;
  }
  .float-right {
    float: right;
    margin-right: 20px;
  }

  .sub-cta {
    white-space: nowrap;
    text-align: center;
  }
  
  .sub-cta-primary {
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px;
  }
  .sub-cta-secondary {
    font-size: 12px;
    line-height: 12px;
  }
  
  .btn {
    background: $AMEX_BANNER_BTN_BG_COLOR;
    border-radius: 5px;
    color: $AMEX_BANNER_BTN_TXT_COLOR;
    margin-top: 22px;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 13px;
    padding: 0px 20px;
    font-weight: 600;
  }
  .btn-depressed .btn {
    opacity: 0.35;
  }
}