
#error-dialog {
    width: 330px;
    margin-left: -177px;
    top: 200px;

    #title {
      text-align: center;
      font-weight: bolder;
      padding:8px;
    }
    
    #description {
      text-align: center;
      font-weight: normal;
      padding:8px;
    }
    
   
     
}
 
