
$HEADING_SIZE: 160px;
$SIDEBAR_SIZE: 256px;
.issue-preview-image {
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    z-index: 99;
    overflow: hidden;

    .container {
        position: relative;
        height: 100%; width: 100%;
        background: $HERO_BG_COLOR;
    }
    .controls {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
    .close-btn {
        position: absolute;
        padding: 10px 15px;
        font-size: 22px;
        font-weight: bold;
        top: 0; right: 0;
        text-shadow: 0 -1px 0 black;
    }
    .scrollable {
        position: absolute;
        background: darken($HERO_BG_COLOR, 5%);
        top: 0; left: 0; right: 0; bottom: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .cover-img {
        padding: 15px;
        -webkit-box-sizing: border-box;
    }
    .buy-issue-button {
        @include big-button-primary;
        position: absolute;
        bottom: 0; right: 0;
        width: 226px;
        margin: 15px;
    }
    header {
        margin: 15px;
        text-transform: uppercase;
        font-family: $HEADLINE_FONT;
    }
    p {
        margin: 15px;
        font-size: 14px
    }
    .issue-price {
        color: $ACCENT_COLOR;
    }

    @media only screen and (orientation: portrait) {
        .scrollable {
            top: $HEADING_SIZE;
        }
        .controls {
            height: $HEADING_SIZE;
            bottom: auto;
        }
        .cover-img {
            float: left;
            height: $HEADING_SIZE;
        }
        p {
            margin-right: 275px;
        }
    }
    @media only screen and (orientation: landscape) {
        .scrollable {
            left: $SIDEBAR_SIZE;
        }
        .controls {
            width: $SIDEBAR_SIZE;
            right: auto;
        }
        .cover-img {
            position: absolute;
            bottom: 60px; left: 0;
            width: $SIDEBAR_SIZE;
        }
        .issue-date, .issue-price {
            display: block;
        }
        .separator {
            display: none;
        }
    }
}

