html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 100%;
    text-align: center;
    font-family: Helvetica;
  }
  
  #mask {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #000;
  }
  
  @-webkit-keyframes pop {
      0%   { -webkit-transform: scale(0); }
      70%  { -webkit-transform: scale(1.1); }
      100% { -webkit-transform: scale(1.0); }
  }
  
  .pop {
      -webkit-transform: scale(1.0), translate3d(0,0,0);
      -webkit-animation-name: pop;
      -webkit-animation-duration: 300ms;
      -webkit-animation-timing-function: ease-in-out;
  }
      
  #logo {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  #container {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width:400px;
    height: 200px;
    margin-left: -200px;  /*half width*/
    margin-top: -100px;  /*half height*/
    padding: 6px;
    overflow: hidden;
  }
  
  .bold { font-weight: bolder; }
  .normal { font-weight: normal; }
  .small { font-size: 0.875em; }
  .paragraph { width: 90%; }
  .note { width: 80%; }
  .buttons { width: 100%; font-size: 1.1em; }
      
  a {
    text-decoration: underline;
    color: #000000;
  }

    
  .x-toolbar-dark {
    background-image: none;
    background-color: #236b87;
    background-image: $LUCIE_TOOLBAR_BG;
    border-color: black;
  }
  
  .main-popup-toolbar {
    height: auto;
    color: black;
    font-weight: 700;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
  }
  
  .brand-logo {
    background-image: url('../images/'+$BRAND_CODE+'/lucie-brand-logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .lucie-complete-header {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .lucie-complete-body {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .lucie-complete-inner {
    width: 100%;
    height: 100%;
    max-height: 135px;
    background: #ffffff;
    padding-top: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

/* iphone */
@media screen and (max-width: 480px) {
    html, body {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        height: 100% !important;
        width: 100% !important;
    }
    #mask {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: #666;
        opacity: 1.0;
    }
    #container {
        position: relative;
        top: 0; left: 0;
        height: auto !important;
        width: 100% !important;
        margin: 0px !important;
        padding: 0 0 30px;
        background: white;
        -webkit-box-shadow: none;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }
}
