*{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;line-height:inherit;letter-spacing:inherit;list-style:none;text-decoration:none;}

body, html {height:100%;}
body{background-color:#fff;
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;}
/*a {
 display:block;
 height: 50px;
 width: 299px;
 color:white;
background: $MYACCOUNT_STD_BTN_BG;
 -webkit-border-radius:1.2em;
 margin:2.5em auto;
 text-decoration:none;
 text-align:center;
 padding:0em 0 0 0;
 line-height:1em;
 font-size:1em;
 letter-spacing:2px;
 font-weight:bold;
 -webkit-box-shadow: 0px 4px 4px 0px #bbb;
 box-shadow: 0px 4px 4px 0px #bbb;
}
*/

.showingLucieRegBtn{
  margin:1.7em auto;
}


.singleLine {vertical-align:-1.2em;}
.line1 {vertical-align:-.7em;}
.line2 {font-size:.9em;}

#logo{
 width: 486px;
 height: 125px;
 background: url("../images/" + $BRAND_CODE + "/myAccountBttns.gif") top left no-repeat;
}

#lucieRegistrationBtn{
 display:none;
 cursor: hand; cursor: pointer;
}


p { 
margin: 1em 0;
 }
a {
color:inherit;
}
hr {
border-bottom:1px solid #ccc;
border-top:1px solid #c1bebe;
height:3px;
margin-bottom:30px;
width:100%;
}
.mouseType{
font-size:10px;
}
.clear {
 clear:both; min-height: 0;
  }
.wrap {
width:100%; 
min-height: 100%; 
margin:0px auto; 
background:url(../images/bg.png) no-repeat top center scroll;
 background-size: cover;
 text-align:center;
 }
 

.content{
	display: inline-block;
	position: relative;
	width: 500px;
	padding: 5% 0px;
	
	margin: 0px auto;
}

.title{
font-size:30px;
}

.blue-btn, .clear-btn {
	display: block;
	border-radius: 10px;
	width: 360px;
	max-width: 360px;
	padding: 10px 20px;
	font-size: 22px;
	margin:40px 40px 0px 40px;
}
.blue-btn{
	background-color: #00a6de;
	color:#FFF;
}
.clear-btn{
	border: 2px solid #666;
	color:#00a6de;
}

.textwrap {
	font-size: 15px;
	font-weight: normal;
	width: 90%;
	max-width: 450px;
	margin: 0px auto;
	padding: 0px 10px;
}

.care {
	width: 100%;
	font-size: 20px;
	position: fixed; 
	bottom: 0;
	/*padding-bottom: 40px;*/
}

.care-btn {
	position: relative;
	display: inline-block;
	border-radius: 10px;
	border: 2px solid #b8b6b4;
	padding: 5px 10px;
	margin: 10px 10px;
	font-size: 18px;
	font-weight: normal;
	color:#00a6de;
	background-color:#e1dedb;

}

@media (orientation: landscape ) {
	.care-btn{margin: 10px 5%;}
}

@media (max-width: 954px ) {
	.wrap{width:100%;}
}

@media (max-width: 768px ) {
	.content {padding-top: 100px;padding-top:10%;}
}

@media (max-width: 500px ) {
	.content {width:100%;}
	.blue-btn, .clear-btn {width:85%;}
}

@media (max-width: 380px ) {
	.blue-btn, .clear-btn {font-size:18px;}
	.care-btn{display:block;}
}