@import "_includes/_page_curl.scss";
@import "_includes/_welcome_view.scss";

@import "_includes/_store_view.scss";
@import "_includes/_store_hero_view.scss";
@import "_includes/_store_issues_view.scss";
@import "_includes/_issue_cover.scss";

@import "_includes/_dialogs.scss";
@import "_includes/_error_dialog.scss";
@import "_includes/_subscribe_dialog.scss";
@import "_includes/_signin_dialog.scss";
@import "_includes/_welcome_download_dialog.scss";
@import "_includes/_loading.scss";
@import "_includes/_issue_preview_image.scss";
@import "_includes/_first_load_popup.scss";

@import "_includes/_repl.scss";


html, body {
    margin: 0; padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-family: $MAIN_FONT;
    font-size: 16px;
    background: #F9F9F9;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $HEADLINE_FONT;
}
.scrollable {
    -webkit-overflow-scrolling: touch;
    overflow: auto; 
}
.clear { clear: both; }
