@import "compass";
@import "_includes/_buttons.scss";
@import "_includes/_text_utils.scss";

.store-hero-view {
    background: $HERO_BG_COLOR;
    padding: 30px 20px;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0.10);
    
    .issue-cover {
        position: relative;
        border: 2px solid rgba(0,0,0,0.2);
        -webkit-border-radius: 2px;

        .page-curl {
            right: 0;
            bottom: 0;
        }
        .curl-obj,
        .curl-text {
            -webkit-transition: none;
            -webkit-mask-image: none;
            -webkit-transform: translate3d(0,0,0)
        }
    }
    .cover {
        -webkit-box-sizing: border-box;
        padding-right: 20px;
        @media screen and (max-width: 999px) {
            width: 50%;
        }
        @media screen and (min-width: 1000px) {
            width: 40%;
        }
        img { 
           width: 100%; 
        }
    }
    .details {
        position: absolute;
        top: 30px; right: 0; bottom: 0; 
        -webkit-box-sizing: border-box;
        padding-left: 5px;
        color: #333;
        @media screen and (max-width: 999px) {
            width: 50%;
        }
        @media screen and (min-width: 1000px) {
            width: 60%;
        }
        header {
            text-transform: uppercase;
            font-family: $HEADLINE_FONT;
        }
        .post-description {
          .accent-color {
            color: $ACCENT_COLOR;
          }
        }
    }
   
    .issue-date {
        font-size: 16px;
    }
    .issue-price {
        color: $ACCENT_COLOR;
    }
    h2 {
        font-size: 28px;
        margin-top: -3px;
        margin-bottom: 5px;
    }


    .in-this-issue {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 1.0);
        overflow: hidden;
        
        article {
            position: relative;
            border-top: 1px solid rgba(255, 255, 255, 1.0);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            position: relative;
            padding: 12px 60px 12px 100px;
            height: 50px;

            .opening-issue-text {
                opacity: 0;
                display: block;
                position: absolute;
                height: 100%; width: 100%;
                background: $HERO_BG_COLOR;
                top: 0; left: 0;
                text-align: left;
                font-size: 16px;
                -webkit-box-sizing: border-box;
                padding-left: 20px;
                line-height: 75px;
                font-weight: bold;
                color: #999;
                z-index: 0;
            }
            .opening-issue-text.show-loading {
                z-index: 2;
                -webkit-animation-name: fade-in-out;
                -webkit-animation-duration: 3.5s;
            }
        }
        .thumbnail {
            height: 50px; width: 80px;
            position: absolute; 
            left: 0;
        }
        .next-indicator {
            line-height: 0px;
            font-size: 1px;
            position: absolute;
            top: 30px; right: 20px;
            height: 12px; width: 12px;
            border-style: solid;
            border-width: 2px 2px 0 0;
            border-color: rgba(0,0,0,0.2);
            -webkit-transform: rotate(45deg);
        }
        h3 {
            @include constrain-to-one-line;
            color: $ACCENT_COLOR;
            text-transform: uppercase;
            &.locked {
                background: transparent url(../images/lock.gif) 0 50% no-repeat;
                background-size: 8px 11px;
                padding-left: 16px;
            }
        }
        h3, p {
            margin: 0;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .cta {
        position: absolute;
        right: 0px; left: 0px;
        bottom: 12px;
        padding: 0 30px 15px 5px;
        -webkit-box-sizing: border-box;

        &.subscriber {
            .subscribe-button { display: none; }
            .buy-issue-button { width: 100%; }
            .print-subscribers { display: none; }
        }
    }
    .cta button {
        width: 48%;
        border-color: rgba(0,0,0,0.2);
    }
    .buy-issue-button {
        @include big-button-secondary; 
    }
    .subscribe-button {
        @include big-button-primary; 
        float: right;
    }
    .print-subscribers {
        font-size: 14px;
        color: #999;
        margin-top: 10px;
        text-align: center;
        a { color: #999; }
    }
    
    .no-deeplinks {
      p {
        padding-right: 30px;
        line-height: 1.35em;
      }
      .issue-price {
        font-weight: bold;
      }
      .subscribe-cta {
        position: absolute;
        bottom: 100px; left: 0; right: 0;
        font-weight: bold;
        text-align: center;
      }
      .sub-price {
        color: $ACCENT_COLOR;
      }
    }

    // Hard-coding the cover-img sizes at certain screen sizes is an optimization
    @media screen and (width: 768px) {
        .cover-img {
          width: 340px;
          height: 443px;
        }
    }
    @media screen and (width: 1024px) {
        .cover-img {
          width: 371px;
          height: 483px;
        }
    }

}


@-webkit-keyframes fade-in-out {
  from { opacity: 0; left: 0;}
  15% { opacity: 1; left: 0;} 
  85% { opacity: 1; left: 0;} 
  to { opacity: 0; left: -50%;}
}

