@import "_includes/_page_curl.scss";
@import "_includes/_welcome_view.scss";

@import "_includes/_store_view.scss";
@import "_includes/_store_hero_view.scss";
@import "_includes/_store_issues_view.scss";
@import "_includes/_store_amex_issues_view.scss";
@import "_includes/_issue_cover.scss";

@import "_includes/_store_banners.scss";
@import "_includes/_dialogs.scss";
@import "_includes/_error_dialog.scss";
@import "_includes/_updatefolio_dialog.scss";
@import "_includes/_subscribe_dialog.scss";
@import "_includes/_buy_issue_dialog.scss";
@import "_includes/_signin_dialog.scss";
@import "_includes/_welcome_download_dialog.scss";
@import "_includes/_straight_to_sample_dialog.scss";
@import "_includes/_loading.scss";
@import "_includes/_issue_preview_image.scss";
@import "_includes/_amex_issue_preview.scss";
@import "_includes/_first_load_popup.scss";

@import "_includes/_repl.scss";


html, body {
    margin: 0; padding: 0;
    height: 100%;
    width: 100%;
    font-family: $MAIN_FONT;
    font-size: 16px;
    background: $MAIN_BG_COLOR;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $HEADLINE_FONT;
}
.scrollable {
    -webkit-overflow-scrolling: touch;
    overflow: auto; 
}
.clear { clear: both; }
.echo { position: absolute; top: -9999px; left: -9999px; width: 0px; height: 0px; visibility: hidden; }
