@import "_includes/_text_utils.scss";


$tap-to-preview-color: #ddd;
$issue-spacing: 3%;

.store-issues-view {
  position: relative;
  background: $MAIN_BG_COLOR;
  border-top: 1px solid #fff;
  padding: 20px;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);

  .tap-to-preview {
    position: relative;
    color: darken($tap-to-preview-color, 10%);
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;

    span {
      background: $MAIN_BG_COLOR;
      padding: 0 15px;
      border-left: 1px solid $tap-to-preview-color;
      border-right: 1px solid $tap-to-preview-color;
      position: relative;
      z-index: 2;
    }
    &::before {
      position: absolute;
      display: block;
      content: '';
      border-top: 1px solid $tap-to-preview-color;
      top: 6px;
      left: 0;
      right: 0;
    }
  }
  .issues {
    width: 100% + $issue-spacing;
    margin-left: -1 * $issue-spacing; 
  }
  .issue {
    position: relative;
    float: left;
    padding-left: $issue-spacing;
    -webkit-box-sizing: border-box;
    text-align: center;
    margin-top: 12px;
    
    
    &.free .issue-cover::before {
      content: "";
      display: block;
      position: absolute;
      top: -7px;
      left: 10px;
      height: 60px;
      width: 70px;
      background-image: url("../images/" + $BRAND_CODE + "/free.png");
      background-size: contain;
      z-index: 9;
    }

    @media screen and (max-width: 999px) {
      width: 25%;
    }
    @media screen and (min-width: 1000px) {
      width: 20%;
      .make-banner-space & {
        width: 25%;
      }
    }
  }
  .cover-img-container {
    position: relative;
    overflow: hidden;
  }
  .cover-img-container::before {
    content: "";
    display: block;
    padding-top: $COVER_HEIGHT_WIDTH_RATIO * 100%;
  }
  .cover-img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
  }
  .issue-cover {
    position: relative;
    margin-bottom: 10px;
  }
  .issue-title {
    @include constrain-to-one-line;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: $HEADLINE_FONT;
  }
  hr {
    border: none;
    border-bottom: 1px solid $tap-to-preview-color;
    margin: 20px 0;
    padding: 0;
  }
  .free .issue-title,
  .special .issue-title {
    color: $ACCENT_COLOR;
  }
}

