@import "_includes/_text_utils.scss";

$main-bg-color: #f9f9f9;
$tap-to-preview-color: #ddd;
$issue-spacing: 3%;

.store-issues-view {
  position: relative;
  background: $main-bg-color;
  border-top: 1px solid #fff;
  padding: 20px;

  .tap-to-preview {
    position: relative;
    color: $tap-to-preview-color;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;

    span {
      background: $main-bg-color;
      padding: 0 15px;
      border-left: 1px solid $tap-to-preview-color;
      border-right: 1px solid $tap-to-preview-color;
      position: relative;
      z-index: 2;
    }
    &::before {
      position: absolute;
      display: block;
      content: '';
      border-top: 1px solid $tap-to-preview-color;
      top: 6px;
      left: 0;
      right: 0;
    }
  }
  .issues {
    width: 100% + $issue-spacing;
    margin-left: -1 * $issue-spacing; 
  }
  .issue {
    float: left;
    padding-left: $issue-spacing;
    -webkit-box-sizing: border-box;
    text-align: center;
    margin-top: 12px;
    @media screen and (max-width: 999px) {
      width: 25%;
    }
    @media screen and (min-width: 1000px) {
      width: 20%;
    }
  }
  .cover-img {
    width: 100%;
    height: auto;
  }
  .issue-cover {
    margin-bottom: 10px;
  }
  .issue-title {
    @include constrain-to-one-line;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid $tap-to-preview-color;
    margin-bottom: 10px;
  }

  // Hard-coding the cover-img sizes at certain screen sizes is an optimization
  @media screen and (width: 768px) {
    .cover-img {
      width: 161px;
      height: 210px;
    }
  }
  @media screen and (width: 1024px) {
    .cover-img {
      width: 170px;
      height: 222px;
    }
  }

}

