@import "compass";

$WelcomeBtnColor: #e6213e;
$WelcomeBtnHeight: 50px;
.welcome-view {
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
    overflow: hidden;
    background: url("../images/"+$BRAND_CODE+"/welcomeBackground.jpg");
    text-align: center;
    
    .logo-img {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .btn {
        height: $WelcomeBtnHeight;
        padding: 0 20px;
        line-height: $WelcomeBtnHeight;
        color: #fff;
        border-radius: 6px;
        background: $WelcomeBtnColor;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        font-size: 16px;
    }
    .goto-store {
        color: $WelcomeBtnColor;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }

    .buttons {
        width: 44%;
        margin: 0 auto;
        .btn {
            display: block;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .already-have-account {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 10px 15px;
        background: #000;
        color: #fff;
        font-size: 14px;
        white-space: no-wrap;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -20px;
            left: 15px;
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent #000;
        }
    }
}

