@import "compass";

#welcome-downloading-dialog {
  border: none;
  -webkit-box-shadow: none;
  background: rgba(0,0,0,0.5); 
  padding: 48px 16px 24px;

  .progress {
    position: relative;
  }
  .progress::before {
    padding: 0 0 8px;
    background: transparent;
  }
}
 
