@import "_variables/_FO.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(522px, 362px, "../images/FO/first-load-popup.jpg");
  .restore-btn, .sign-in-btn {
    height: 39px; 
    width: 197px;
    bottom: 21px;
  }
  .restore-btn {
    left: 33px; 
  }
  .sign-in-btn {
    right: 35px;
  }
}