@import "_variables/_IN.scss";

$accentColor: rgb(223, 37, 47);
$coverBorderColor: #ddd;

$gutter: 15px;
$vertspacing: 15px;

$buttonWidth: 100px;
$buttonBorderWidth: 1px;



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 125%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
table, tbody, tr, td {
  border-collapse: collapse;
  margin: 0; 
  padding: 0;
  border: 0;
}



/*
 * Shared Styles
 */

.btn {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: $accentColor;
  width: $buttonWidth - (2 * $buttonBorderWidth);
  border: $buttonBorderWidth solid $accentColor;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}



/*
 * Shared Modal Styles
 */
$MODAL_SHOW_DURATION: 0.35s;
.modal-overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1000;
  background-color: rgba(200, 200, 200, 0.7);
  
  transition: opacity $MODAL_SHOW_DURATION;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}
.modal-box {
  position: fixed;
  top: 50%; left: 50%;
  height: 160px; width: 160px;
  margin-top: -80px; margin-left: -80px;
  z-index: 1001;

  -webkit-box-sizing: border-box;

  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.05);

  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  top: -160px;
  transition: top $MODAL_SHOW_DURATION;
  &.show {
    top: 50%;
  }
}



/*
 * Progress Overlay Styles
 */
$TICK_COUNT: 6;
$ROTATE_AMOUNT: 360deg / $TICK_COUNT;
$PULSE_PERCENT: 100% / $TICK_COUNT;
$PULSE_OPACITY_INCREMENT: 1.0 / $TICK_COUNT;

.progress-box {
  padding-top: 120px;
}
.progress-tick {
  position: absolute;
  top: 40px; left: 50%;

  height: 16px; 

  width: 5px;

  border-radius: 10px;
  background: #666;

  -webkit-transform-origin: 50% 25px;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@for $i from 0 through ($TICK_COUNT - 1) {
  @-webkit-keyframes pulsate-#{$i} {
    0% {
      opacity: $PULSE_OPACITY_INCREMENT * $i;
    }
    #{$PULSE_PERCENT * $i + 0.1%} {
      opacity: 0.0;
    }
    #{($PULSE_PERCENT * $i) + 1%} {
      opacity: 1.0;
    }
    100% {
      opacity: $PULSE_OPACITY_INCREMENT * $i;
    }
  }
  .progress-tick-#{$i} {
    -webkit-transform: rotate($ROTATE_AMOUNT * $i);
    -webkit-animation-name: pulsate-#{$i};
  }
}



/*
 * Subscribe Dialog
 */
.sd-dialog-box {
  text-align: center;
  width: 330px;
  margin-left: -177px;

  height: auto;
  margin-top: -150px;

  font-family: "Helvetica Neue", "Arial", "sans-serif";

  button {
    width: 100%;
    padding: 6px 25px;
    background: none;
    opacity: 0.85;
    border: none;
    border-top: 1px solid #ccc;
    
    color: #007aff;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    text-transform: capitalize;
  }
}
.sd-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top:10px;
}
.sd-description {
  font-size: 16px;
  margin: 0px 0px 20px;
  text-align: left;
  line-height: 120%;
  padding: 8px 20px;
}
.sd-subscribe-button {
  position: relative;
  padding: 10px;
  color:#007aff;
  font-size:16px;
  border-top: 1px solid #CCC;
  opacity: 0.85;
  display:block;
  height: 21px;
}



/*
 * Hero Styles
 */

.hero-container {
  padding: $vertspacing $gutter;
}
.hero-cover {
  -webkit-box-sizing: border-box;
  float: left;
  width: 60%;
  border: 1px solid $coverBorderColor;
}
.hero-rightbar {
  -webkit-box-sizing: border-box;
  width: 33%;
  float: right;
  position: relative;
}
.hero-buttons {
  position: absolute;
  bottom: -180px;
}
.hero-button {
  margin-top: 5px;
  &.hero-preview-btn {
    margin-bottom: 20px;
  }
}


/*
 * Backissue Styles
 */

.backissues-container {
  clear: both;
  padding-top: $vertspacing;
}
.biv-container {
  margin: 0 $gutter;
  padding: $vertspacing 0;
  border-top: 1px solid #ddd;
}
.backissues-cover-container {
  -webkit-box-sizing: border-box;
  width: 34%;
  padding-right: 15px;
  line-height: 0;
}
.backissue-cover {
  -webkit-box-sizing: border-box;
  border: 1px solid $coverBorderColor;
  width: 100%; 
}
.backissue-name {
  color: #333;
}
.backissue-price {
  color: $accentColor;
}
.backissue-btn {
  margin-top: 15px;
}