@import "_variables/_IN.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(620px, 520px, "../images/" + $BRAND_CODE + "/first-load-popup.png");
  .subscribe {
    height: 53px; 
    width: 302px;
    top: 403px;
    right: 31px;
  }
}

.store-hero-view {
  .cover {
    @media screen and (max-width: 999px) {
      width: 58%;
    }
  }
  
  .details {
    @media screen and (max-width: 999px) {
      width: 42%;
    }
  }
  
  .preview-button {
    @include big-button-primary;
    margin: 0px auto 50px auto;
  }
  
  .buy-issue-button {
    @include big-button-secondary;
    margin: 0px auto 10px auto;
  }
  
  .subscribe-button {
    @include big-button-secondary;
    margin: 0px auto 45px auto;
  }
  
  .cta.subscriber {
    .preview-button {
      display: none !important;
    }
    
    .buy-issue-button {
      margin: 0px auto 105px auto !important;
    }
  }
  
}





.store-hero-view,
.store-issues-view,
.store-hero-view .in-this-issue {
  border: none;
  background: #fff;
  box-shadow: none;
}

.store-hero-view {
  h2 {
    display: none;
  }
  .issue-cover {
    border-width: 1px;
  }
  .cta button {
    float: none !important;
    display: block;
    width: 80% !important;
    background: #fff;
    color: $ACCENT_COLOR;
    border-color: $ACCENT_COLOR;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
  }
}

.store-issues-view {
  padding-top: 0;

  .tap-to-preview {
    border-color: #ddd;
    border-width: 1px 0;
    border-style: solid;
    padding: 10px 0;

    span {
      border: 0;
      background: #fff;
    }
    &::before, &::after {
      display: none;
    }
  }
}

button.bi-filter {
  font-family: $MAIN_FONT;
  margin: 0; border: 0;
  padding: 0 30px;
  background: transparent;
  font-size: 14px;
  &.active {
    color: $ACCENT_COLOR;
  }
}
