@import "_variables/_LE.scss";
@import "_includes/_MYACCOUNT.scss";


#careButtons {
	hr {
		display: none;
	}
}

.blue-btn {
  background-color: #1c929c;
}

.clear-btn {
  color: #1c929c;
}

.care-btn {
  color: #1c929c;
}
