@import "_variables/_LE.scss";

$fontLight: "AvenirNext-Regular";
$fontMedium: "AvenirNext-Medium";
$fontBold: "AvenirNext-DemiBold";
$fontHeavy: "AvenirNext-Bold";


html, body {
	background: #e6e6e6;
	height: 100%;
	width: 100%;
	font-family: $MAIN_FONT;
	margin: 0; padding: 0;
}

$buttonRed: rgb(221, 0 , 48);
$buttonBlue: rgb(28, 146, 156);
$buttonGrey: rgb(180, 180, 180);
button, .pv-button, .dod-button {
	display: block;
	text-align: center;
	text-decoration: none;
	font-family: $fontMedium;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 0; margin: 0;
}
h1 {
	font-family: $fontBold;
	font-weight: normal;
	margin: 0;
	padding: 15px 0 10px;
	color: #111;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}
h2 {
	font-family: $fontMedium;
	font-weight: normal;
	color: #111;
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	text-transform: none;
	letter-spacing: 1px;
	padding-bottom: 12px;
	background-size: contain;
	margin: 20px 20px 0;
}
.clear { clear: both; }

/*
 * Specific Element Styles:
 */
 .hero {
 	height: 440px;
 	overflow: hidden;
 	img {
 		width: 100%;
 	}
 }



 $productBoxInfoHeight: 60px;
 $productBoxBuyButtonWidth: 120px;
 .products {
 	padding: 0 10px;
 }
 .pv-container {
 	width: 50%;
 	float: left;
 }
 .pv-product-box {
 	background: #fff;
 	padding: 0 0 $productBoxInfoHeight;
 	margin: 0 10px 15px;
 	border-radius: 5px;
 	overflow: hidden;
 	position: relative;
 }
 .pv-img {
 	height: 150px;
 	width: 100%;
 }
 .pv-title {
 	position: absolute;
	bottom: 10px;
 	left: 10px;
 	margin: 0;
 	padding: 0;
 	height: $productBoxInfoHeight - 20px;
 	right: $productBoxBuyButtonWidth + 20px;
 	line-height: 1.2em;
 	text-align: left;
 }
 .pv-button {
 	background: $buttonRed;
 	padding: 5px 0;
 	width: $productBoxBuyButtonWidth;
	position: absolute;
	bottom: 20px;
	right: 10px;
 }


.dialog {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999;
}
.dod-dialog-box {
	position: absolute;
	top: 30px; bottom: 30px;
	left: 20px; right: 20px;
	background: #fff;
}
$dodCloseBtnSize: 26px;
.dod-close-button {
	display: block;
	height: $dodCloseBtnSize;
	width: $dodCloseBtnSize;
	line-height: $dodCloseBtnSize - 2px;
	text-align: center;
	position: absolute;
	top: -10px;
	right: -10px;
	background: #444;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	border-radius: 100%;
	border: 2px solid #fff;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.75);
	font-size: 30px;
	z-index: 1;
}
$dodImageHeight: 693px;
.dod-images {
	height: $dodImageHeight + 30px;
	overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    text-align: center;
}
.dod-cover-container {
	-webkit-transform: translate3D(0,10px,0);
    height: $dodImageHeight;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
    white-space: normal;
    margin: 0 15px 0 0;
    &:first-child {
    	margin-left: 15px;
    }
}
.dod-cover-img {
	height: $dodImageHeight;
}
.dod-product-info {
	margin: 15px 220px 0 20px;
}
.dod-title {
	font-family: $fontMedium;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0 0 10px;
	font-size: 20px;
	text-transform: uppercase;
	color: #555;
}
.dod-description {
	font-family: $fontMedium;
	margin: 0;
	font-size: 13px;
}
.dod-cta {
	position: absolute;
	bottom: 80px;
	right: 20px;
	width: 180px;
}
.dod-button {
	width: 180px;
	height: 35px;
	line-height: 35px;
	&.buy {
		background: $buttonRed;
	}
	&.appstore {
		background: $buttonRed;
	}
	&.subscribe {
		background: $buttonBlue;
	}
	&.download {
		background: $buttonRed;
	}
	&.view {
		background: $buttonGrey;
	}
}
