@import "_variables/_LE.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(620px, 520px, "../images/" + $BRAND_CODE + "/first-load-popup.png");
  .subscribe {
    height: 55px; 
    width: 394px;
    top: 409px;
    right: 113px;
  }
}