@import "_variables/_LE.scss";
@import "_includes/_STORE.scss";

.banner-static {
  box-shadow: inset 0 -2px rgba(0,0,0,0.04);
}
.sub-cta-primary {
	font-family: "AvenirNext-DemiBold";
	color: #fff;
	font-size: 22px !important;
	margin-top: 18px !important;
}
.sub-cta-secondary {
	font-family: "AvenirNext-Medium";
	color: $AMEX_BANNER_BTN_BG_COLOR;
	font-size: 16px !important;
	line-height: 18px !important;
}
.store-issues-amex-view .tap-to-preview {
	font-family: "AvenirNext-Bold";
}
.store-issues-amex-view .tap-to-preview::before,
.store-issues-amex-view .tap-to-preview::after {
  display: none;
}
.store-issues-amex-view .tap-to-preview {
	border-bottom: none;
	margin-bottom: 0px;
}
.store-issues-amex-view .featured.issue .issue-inner-container {
	background: #eee;
}
.store-issues-amex-view .featured.issue .issue-info {
	background: transparent;
	box-shadow: none;
}
.store-issues-amex-view .buy-issue-button {
	line-height: 30px;
}

.dialog {
    button {
        padding: 9px 25px;
    }
}