@import "_variables/_LE.scss";
@import "_includes/_STORE.scss";

/* SLIDESHOW */


.store-hero-slideshow-view {
  position: relative;
  height: 440px;
  
  .carousel {
    overflow: hidden;
  }
  .slides{
    height: 100%;              
    -webkit-transition: all 1s;
  }
  .slide{
    height: 100%;
    float: left;
    position: relative;
  
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .banner {
    position: absolute;
    width: 100%;
    height: 375px;
  }
  .on-the-right {
    margin-left: 0px;
  }
  .clear { clear: both; }

  .subscribe {
    background-position: center center;
    background-size: 100% 100%;
    background-color: #ADADAD;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-image: url('http://esploded.s3.amazonaws.com/user_data/jim/id1i-DuolingoXpBug.png');*/
  }
  
  .subscribe:after {
    content: "Subscribe Now";
  }
  
  .banner-static {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: 68px;
  }
}