@import "_variables/_PE.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(522px, 362px, "../images/PE/first-load-popup.jpg");
  .restore-btn, .sign-in-btn {
    height: 50px; 
    width: 210px;
    bottom: 18px;
  }
  .restore-btn {
    left: 35px; 
  }
  .sign-in-btn {
    right: 35px;
  }
}
.store-hero-view {
  background: #fcfcfc;
  min-height: 330px;
  padding-top: 10px;
  padding-bottom: 10px;
  .cover {
    width: auto;
    margin: 0 300px 0 40px;
    -webkit-box-sizing: content-box;
    padding-right: 0px;
    .page-curl { display: none !important; }

    .cover-scroll-position {
      position: relative;
    }
    .next-cover,
    .prev-cover {
      span { display: none; }
      position: absolute;
      display: block;
      border: 20px solid transparent;
      top: -300px;
    }
    .next-cover {
      right: -55px;
      border-left-color: #ccc;
    }
    .prev-cover {
      left: -55px;
      border-right-color: #ccc;
    }
  }
  .details {
    right: 20px;
    width: 220px;
    padding-left: 0;

    header {
      text-align: center;
      margin-bottom: 20px;
    }
    header h2,
    .issue-description,
    .in-this-issue { 
      display: none;
    }
    .issue-date {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
    .no-deeplinks {
      height: 0;
    }
  }
  .post-description {
    z-index: 2;
    position: relative;
    width: 220px;
    top: 320px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    a {
      color: #fe009e;
      text-decoration: none;
    }
  }
  .cta {
    position: static;
    width: 220px;
    padding: 0;
    button {
      position: static;
      display: block;
      height: 135px;
      width: 220px;
      margin: 0; padding: 0;
      border: 1px solid #ccc;
      border-radius: 0px;
      margin-bottom: 20px;
      background-size: cover;
      text-indent: -9999px;
      background-color: transparent;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      box-shadow: none;
    }
    .buy-issue-button {
      -webkit-transform: translate3d(0px, 155px, 0px);
      &[data-action="buy"] {
        background-image: url("../images/PE/hero_btn_buy.png?v=" + currTime());
      }
      &[data-action="view"] {
        background-image: url("../images/PE/hero_btn_view.png?v=" + currTime());
      }
      &[data-action="download"] {
        background-image: url("../images/PE/hero_btn_download.png?v=" + currTime());
      }
      &[data-action="downloadfree"] {
        background-image: url("../images/PE/hero_btn_downloadfree.png?v=" + currTime());
      }
      &[data-action="unavailable"] {
        background-image: url("../images/PE/hero_btn_unavailable.png?v=" + currTime());
      }
    }
    .subscribe-button {
      -webkit-transform: translate3d(0px, -155px, 0px);
      background-image: url("../images/PE/hero_btn_subscribe.jpg?v=" + currTime());
    }
    &.subscriber .subscribe-button {
      display: block;
      background-image: url("../images/PE/hero_btn_subscribed.png?v=" + currTime());
      z-index: -1;
    }
    .print-subscribers { display: none; }
  }
}
.store-issues-view {
  padding-top: 60px;
  .tap-to-preview {
    position: absolute;
    top: -1px; left: 0px; right: 0px;
    border-top: 1px solid #158ba9;
    border-bottom: 1px solid #24a1cd;
    background: -webkit-linear-gradient(#48c1f0, #2cafe3);
    padding: 4px 0 3px;
    &::before { content: none; }
    span {
      border: none;
      background: none;
    }
    .bi-filter {
      font-family: "TrebuchetMS";
      font-weight: bold;
      height: 30px;
      padding: 0px 10px;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 1px rgba(255,255,255,0.5);
      background: -webkit-linear-gradient(#fff, #ccc);
      border: none;
      border-radius: 2px;
      &.active {
        color: #e9148a;
      }
    }
  }
  .buy-issue-button {
    font-family: "TrebuchetMS";
    white-space: no-wrap;
    line-height: 26px;
    width: 100%;
    height: 26px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: -webkit-linear-gradient(#777, #000);
    color: #fff;
    border-radius: 6px;
    border: none;
    &[data-action=download], &[data-action=downloadfree] {
      background: -webkit-linear-gradient(#fff689, #feca34);
      color: #000;
    }
  }
}
.user-is-authenticated .post-description {
  display: none !important;
}
.store-hero-view .cta .btn-depressed {
  -webkit-box-shadow: inherit;
  padding-top: inherit;
}
.store-hero-view .cta .btn-depressed::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(255,255,255,0.7);
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.store-hero-view .cta .btn-depressed::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  background: transparent;
  height: 30px;
  width: 30px;
  z-index: 2;
  margin-left: -15px; margin-top: -15px;
  border-radius: 100%;
  border:    2px solid rgba(110, 255, 255,0.8);
  border-bottom-color: rgba(180, 255, 255, 0.5);
  -webkit-animation: rotating 0.8s linear infinite;
}