@import "_variables/_PE.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(522px, 362px, "../images/PE/first-load-popup.jpg");
  .restore-btn, .sign-in-btn {
    height: 50px; 
    width: 210px;
    bottom: 18px;
  }
  .restore-btn {
    left: 35px; 
  }
  .sign-in-btn {
    right: 35px;
  }
}
.store-hero-view {
  background: #fcfcfc;
  min-height: 330px;
  .cover {
    width: 33.3%;
    padding-right: 20px;
    margin-bottom: 0;
    .page-curl { display: none; }
  }
  .details {
    left: 33%; right: 260px;
    width: auto;
    padding: 0 0 0 10px;
    header {
      text-transform: capitalize;
    }
    .issue-date {
      text-transform: uppercase;
    }
  }
  .post-description {
    z-index: 2;
    position: absolute;
    width: 200px;
    top: 305px;
    right: -240px;
    font-weight: bold;
    font-size: 14px;
    a {
      color: #fe009e;
      text-decoration: none;
    }
  }
  .cta {
    position: absolute;
    width: 220px;
    top: 0;
    left: auto; right: -240px;
    padding: 0;
    button {
      position: absolute;
      left: 0px;
      height: 135px;
      width: 220px;
      margin: 0; padding: 0;
      border: 1px solid #ccc;
      border-radius: 0px;
      margin-bottom: 20px;
      background-size: cover;
      text-indent: -9999px;
      -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1);
    }
    .buy-issue-button {
      top: 155px;
      background: transparent url("../images/PE/hero_btn_buy.jpg") 50% 50% no-repeat;
    }
    .subscribe-button {
      top: 0;
      background: transparent url("../images/PE/hero_btn_subscribe.jpg") 50% 50% no-repeat;
    }
    .print-subscribers { display: none; }
  }
}
.store-issues-view {
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  .tap-to-preview {
    position: absolute;
    top: -1px; left: 0px; right: 0px;
    border-top: 1px solid #158ba9;
    border-bottom: 1px solid #24a1cd;
    background: -webkit-linear-gradient(#48c1f0, #2cafe3);
    box-shadow: 
      0 1px 0 rgba(255,255,255,0.75), 
      0 8px 8px rgba(0,0,0,0.1);
    padding: 4px 0 3px;
    &::before { content: none; }
    span {
      border: none;
      background: none;
    }
    button {
      font-family: "TrebuchetMS";
      font-weight: bold;
      height: 30px;
      padding: 0px 10px;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 1px rgba(255,255,255,0.5);
      background: -webkit-linear-gradient(#fff, #eee 49%, #ddd 50%, #ccc);
      border: none;
      box-shadow: 
        inset 0 0 1px 1px rgba(255,255,255,0.75),
        0 0 1px 1px rgba(0,0,0,0.15);
      border-radius: 2px;
      &.active {
        color: #e9148a;
      }
    }
  }
  .buy-issue-button {
    font-family: "TrebuchetMS";
    white-space: no-wrap;
    line-height: 26px;
    width: 100%;
    height: 26px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: -webkit-linear-gradient(#333, #555 47%, #000 53%, #333);
    color: #fff;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.75);
    &[data-action=download], &[data-action=downloadfree] {
      background: -webkit-linear-gradient(#fff689, #fcef84 47%, #feca34 53%, #f5e968);
      color: #000;
      box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.08);
    }
  }
}
