@import "_variables/_SK.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(522px, 362px, "../images/SK/first-load-popup.jpg");
  .restore-btn, .sign-in-btn {
    height: 38px; 
    width: 198px;
    bottom: 16px;
  }
  .restore-btn {
    left: 31px; 
  }
  .sign-in-btn {
    right: 34px;
  }
}
.store-hero-view {
  .cover {
    @media screen and (max-width: 999px) {
      width: 58%;
    }
  }
  
  .details {
    @media screen and (max-width: 999px) {
      width: 42%;
    }
  }
  
  .cta button {
    float: none !important;
    display: block;
    width: 80% !important;
    -webkit-border-radius: 5px;
  }
  
  .preview-button {
    @include big-button-primary;
    margin: 0px auto 50px auto;
  }
  
  .buy-issue-button {
    @include big-button-secondary;
    margin: 0px auto 10px auto;
  }
  
  .subscribe-button {
    @include big-button-secondary;
    margin: 0px auto 45px auto;
  }
  
  .cta.subscriber {
    .preview-button {
      display: none !important;
    }
    
    .buy-issue-button {
      margin: 0px auto 105px auto !important;
    }
  }
  
}

