@import "_variables/_TA.scss";
@import "_includes/_STORE.scss";

.first-load-popup {
  @include first-load-popup(522px, 362px, "../images/TA/first-load-popup.jpg");
  .restore-btn, .sign-in-btn {
    height: 38px; 
    width: 197px;
    bottom: 21px;
  }
  .restore-btn {
    left: 32px; 
  }
  .sign-in-btn {
    right: 34px;
  }
}

