<div class="container">
  <div class="close-btn">&times;</div>
  <div class="horz-scrollable">
    {{#each imgs}}
      <div class="img-container">
        <img src="{{.}}">
      </div>
    {{/each}}
  </div>
  <div class="controls">
    <header class="issue-date">{{folio.folioNumber}}</header>
    <p>{{folio.folioDescription}}</p>
    
    <button class="buy-issue-button"
      {{> buy-view-btn.partial folio }} 
    </button>
  </div>
</div>
