<div id='straight-to-sample-dialog' class='dialog'>
    <p id='title'>{{title}}</p>
    <p id='description'>
    	<img class="sample-issue-cover" src="{{coverImg}}">
    	{{{text}}}
    	<div class="clear"></div>
    </p>

    <button class='continue-btn'>{{continueBtn}}</button>
    <button class='cancel'>{{cancelBtn}}</button>
</div>
