<div id='subscribe-dialog' class='dialog'>
    <p id='title'>{{settings.subscribeTo}} {{settings.brandName}}</p>
    <p id='description'>
        <!--<span class="special-offer-text">{{{settings.subscribeSpecialOfferText}}}</span>-->{{{settings.subscribeOfferText}}}
    </p>
    {{#each subscriptions}}
        <div class='subscribe-button' id='{{ productId }}'>
            {{ duration }} - {{ price }}
            {{#if isActive}}
                <div class='your-subscription'>{{settings.subscribeYourSubscription}}<div class='arrow'>&rarr;</div></div>
            {{/if}}
        </div>
    {{/each}}
    <button id='cancel'>{{settings.subscribeCancel}}</button>
</div>
