<div id='signin-dialog' class='dialog'>
  <header>{{{settings.authSigninHeader}}}</header>
  <div class="close-dialog">&times;</div>

  <form class="contents">
    <p>{{{settings.authInstructions}}}</p>
    <input type="email" class="auth-email" placeholder="{{settings.authPlacehodlerEmail}}">    
    <input type="password" class="auth-pass" placeholder="{{settings.authPlacehodlerPass}}">
    
    <a href="{{settings.signInForgotPasswordUrl}}">{{{settings.authForgotPassword}}}</a>
    
    <button class="sign-in-btn">{{{settings.authSigninButton}}}</button>

    <div class="error-msg"></div> 
    
    <p class="print-subs">
      {{{settings.authPrintSubsPrompt}}} <a href="{{settings.WesPageURL}}">{{{settings.authPrintSubsLinkText}}}</a>
    </p>
  </form>

  <footer>
    <a href="{{settings.privacyPolicyUrl}}">{{{settings.authPrivacyLinkText}}}</a>
    | <a href="{{settings.licenceAgreementUrl}}">{{{settings.authLicenseLinkText}}}</a>
    | <a href="{{settings.termsOfUseUrl}}">{{{settings.authTermsLinkText}}}</a>
  </footer>
</div>
