<div id='buy-issue-dialog' class='dialog'>
    <div class="close">&times;</div>
    <p id='title'>{{title}}</p>
    <p id='description'>{{text}}</p>

    <button class='subscribe-btn'>{{subscribeBtn}}</button>
    <button class='continue-btn'>{{continueBtn}}</button>
</div>
