<div id='updatefolio-dialog' class='dialog'>
    <p id='title'>Update Available</p>
    <p id='description'>An updated version of {{folio.folioNumber}} is available.<br>Do you want to download the update?</p>
    <button id='cancel'>Not Now</button>
    <button id='ok'>Yes</button>
</div>
