<div id='subscribe-dialog' class='dialog'>
    <p id='title'>Subscribe to {{ settings.brandName }}</p>
    <p id='description'>{{settings.subscribeOfferText}}</p>
    {{#each subscriptions}}
        <div class='subscribe-button' id='{{ productId }}'>
            {{ duration }} subscription for {{ price }}
            {{#if isActive}}
                <div class='your-subscription'>Your Subscription<div class='arrow'>&rarr;</div></div>
            {{/if}}
        </div>
    {{/each}}
    <button id='cancel'>Cancel</button>
</div>
