<div id='error-dialog' class='dialog'>
    {{#if error.message1}}
        <p id='title'>{{error.message1}}</p>
    {{/if}}
    {{#if error.message2}}
        <p id='description'>{{error.message2}}</p>
    {{/if}}
    <button id='cancel'>OK</button>
</div>
