<div class="first-load-popup dialog">
    <a href="#" class="close">&times;</a>
    <p>
        {{{settings.popup_paragraph1}}}
    </p>
    <p>
        {{{settings.popup_paragraph2}}}
    </p>
    <p style="margin-top:-4px;font-size:16px; color:red;">
        {{{settings.popup_restore_text}}}
    </p>
    <button class="download-issue-btn" data-is-subscriber="{{is_subscriber}}">
      {{#if is_subscriber}}
        {{{settings.popup_subscribe_text}}}
      {{else}}
        {{{settings.popup_close_text}}}
      {{/if}}
    </button>
    
</div>
