<div class="first-load-popup dialog">
    <a href="#" class="close"></a>
    <!--<a href="#" class="restore-btn"></a>
    <a href="#" class="sign-in-btn"></a>-->
    <a href="#" class="subscribe"></a>
</div>
