<div class="first-load-popup dialog">
    <a href="#" class="close">&times;</a>
    <p>
        <b>We heard you!</b><br>
        The Result: <b><i>Best Entertainment Weekly ever!</i></b>
    </p>
    <p>
        You wanted support for Retina display &mdash; <b>we've got it.</b><br>
        You wanted Pinch &amp; Zoom &mdash; <b>we have it.</b><br>
        You wanted a better App &mdash; <b>we've done it.</b>
    </p>
    <button class="download-issue-btn" data-is-subscriber="{{is_subscriber}}">
      {{#if is_subscriber}}
        Download the latest issue now
      {{else}}
        Close
      {{/if}}
    </button>
    <p style="margin-top:-4px;font-size:11px; color:red;">
        * To restore your back issues follow instructions in Entertainment Weekly Library
    </p>
</div>
