<div id='ios8-dialog' class='dialog'>
    <!--<div class="close">&times;</div>-->
    <p id='title'>{{{settings.iOS8_Title}}}</p>
    <p id='description'>{{{settings.iOS8_Text}}}</p>

    <button class='close-btn'>{{settings.iOS8_OK}}</button>
</div>
