<div class="container">
    <div class="controls">
      <img class="cover-img" src="{{folio.get_cover_img}}">
      <header>
        <span class="issue-date">{{folio.folioNumber}}</span>
        <span class="separator">—</span>
        <span class="issue-price">{{folio.price}}</span>    
      </header>
      <p>{{folio.folioDescription}}</p>
      <div class="close-btn">&times;</div>
      <button class="buy-issue-button"
        {{> buy-view-btn.partial folio }} 
      </button>
    </div>
    <div class="scrollable"><img src="{{img.url}}" width="100%" style="display: block;"></div>
</div>
