<div class="container">
    <div class="controls">
      <img class="cover-img" src="{{folio.get_cover_img}}">
      <div class="close-btn">close</div>
    </div>
    <div class="scrollable"><img src="{{img.url}}" width="100%"></div>
</div>
