{{#if DEBUG}}
  <div class="debug-buttons">
      <button class="reload-page">Reload</button>
      <button class="launch-repl">REPL</button>
  </div>
{{/if}}
{{#setting}}
  {{#if store_show_banners}}
    <a class="store-banner banner-landscape" href="#"></a>
  {{/if}}
{{/setting}}


