<!-- empty -->
<div class="cover">
    <div class="issue-cover">
        <img src="{{settings.cover_spacer_img}}" data-real-src="{{folio.get_cover_img}}">
        <div class="progress-bar"></div>
        <div class="page-curl">
            <div class="curl-text">See Inside</div>
            <div class="curl-obj"></div> 
        </div>
    </div>
</div>
<div class="details">
    <header>
        <div>
            <span class="issue-date">{{folio.title}}</span>
            —
            <span class="issue-price">{{folio.price}}</span>    
        </div>
        <h2>In this week’s issue</h2>
    </header>
    <div class="in-this-issue">
        {{#each folio.tcm.in_this_issue}}
            <article data-destination="{{link}}">
                <img src="{{../settings.tcmfeed_image_root}}{{image}}" class="thumbnail"><span class="next-indicator"></span>
                <h3 class="{{#if locked_content}}locked{{/if}}">
                    {{title}}
                </h3>
                <p>{{summary}}</p>
            </article>
        {{/each}}
    </div>
    <div class="cta">
        <button class="buy-issue-button">
            {{#if folio.isViewable}}
                View Issue
            {{else}}{{#if folio.isDownloadable}}
                Download Issue
            {{else}}
                Buy Issue
            {{/if}}{{/if}}
        </button>
        <button class="subscribe-button">Subscribe</button>
        <div class="print-subscribers">Print Subscriber? <a href="https://secure.customersvc.com/servlet/Show?WESPAGE=am/tablet/template/login.jsp&MSRSMAG=EW&MSDDMOFF=ABTF&MSDTRACK=IPAD&MSDVNDID=TBLT">Get it FREE!</a></div>
    </div>
</div>
<div class="clear"></div>
