<!-- empty -->
<div class="cover">
    <img src="{{folio.get_cover_img}}">
    <div class="page-curl">
        <div class="curl-text">See Inside</div>
        <div class="curl-obj"></div> 
    </div>
</div>
<div class="details">
    <header>
        <div>
            <span class="issue-date">{{folio.title}}</span>
            —
            <span class="issue-price">{{folio.price}}</span>    
        </div>
        <h2>In this week’s issue</h2>
    </header>
    <div class="in-this-issue">
        {{#each folio.tcm.in_this_issue}}
            <article data-destination="{{link}}">
                <img src="{{../settings.tcmfeed_image_root}}{{image}}" class="thumbnail"><span class="next-indicator">&gt;</span>
                <h3>{{title}}</h3>
                <p>{{summary}}</p>
            </article>
        {{/each}}
    </div>
    <div class="cta">
        <button class="buy-issue-button">Buy Issue</button>
        <button class="subscribe-button">Subscribe</button>
        <div class="print-subscribers">Print Subscriber? <a href="">Get it FREE!</a></div>
    </div>
</div>
<div class="clear"></div>
