<div id="main-gallery" class="banner carousel">
  <div class="slides">
    <div class="slide getitnow"> <!-- Get it now slide -->
      <a href="#"></a>
    </div>
    <div class="slide subscribe"> <!-- Subscribe slide -->
      <a href="#"></a>
    </div>
  </div>
</div>
<div class="banner-static subscribe"></div>
