<div id="main-gallery" class="banner carousel">
  {{#if hero_slides}}
    <div class="slides">
      {{#each hero_slides}}
        {{{this}}}
      {{/each}}
    </div>
  {{/if}}
</div>
<div class="banner-static subscribe"></div>
