<img class='cover-img-only' src="{{img_only_cover_url}}" width="100%">
<img class='cover-with-text' src="{{full_cover_url}}" width="100%">
<div class="buttons">
    <button class="print-subscriber">{{settings.welcomePrintSubsBtn}}</button>
    <button class="goto-store">{{settings.welcomeBrowseBtn}}</button>
    <button class="subscribe">{{settings.welcomeSubscribeBtn}}</button>
</div>

<div class='already-have-account'>Already have an account?</div>
<div class="page-curl">
  <div class="curl-text">See Inside</div>
  <div class="curl-obj"></div>
</div>
