<img class='cover-img-only' src="{{img_only_cover_url}}">
<img class='cover-with-text' src="{{full_cover_url}}">
<div class="buttons">
    <button>Button 1</button>
    <button>Preview</button>
    <button class="launch-repl">REPL</button>
</div>
