<img class='cover-img-only' src="{{img_only_cover_url}}" style="display: none;" width="100%">
<img class='cover-with-text' src="{{full_cover_url}}" width="100%">
<div class="buttons">
    {{#if settings.welcomeScreenWesURL}}
	    {{#unless is_subscriber}}
	        <button class="print-subscriber">{{../settings.welcomePrintSubsBtn}}</button>
	    {{/unless}}
    {{/if}}
    <button class="goto-store">{{settings.welcomeBrowseBtn}}</button>
    {{#unless is_subscriber}}
        <button class="subscribe">{{../settings.welcomeSubscribeBtn}}</button>
    {{/unless}}
</div>

{{#unless is_logged_in}}
  <div class='already-have-account'>Already have an account?</div>
{{/unless}}

<div class="page-curl">
  <div class="curl-text">See Inside</div>
  <div class="curl-obj"></div>
</div>
